<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sailor  Moon ☾ Magic Cards</title>
    <link rel="stylesheet" href="/static/styles/sobre.css">
    <link rel="shortcut icon" href="/static/assets/favicon.png" type="image/x-icon">
</head>
<body>

    <div class="cabecalho">
        <img class="logo" src="/static/assets/titulo.png" alt="">
        <h1>Saiba Mais</h1>
    </div>

    <div class="como_jogar">
        <h1>COMO JOGAR?</h1>
        <h2>O jogador escolhe uma carta para batalhar contra a carta do oponente.
            <br><br>
            A carta com maior poder vence a rodada.
            Se alguém jogar o Super Trunfo, o jogo acaba na hora!
        </h2>
        <h6 class="um">cartas do oponente</h6>
        <h6 class="dois">sua carta selecionada</h6>
        <h6 class="tres">carta selecionada pelo oponente</h6>
        <h6 class="quatro">escolha de poderes</h6>
        <img src="/static/assets/tutorial.png" class="tutorial" alt="">
    </div>

    <div class="cabecalho_carta">
        <img src="/static/assets/cartas.png" alt="">
        <h1>TIPOS DE CARTAS</h1>
        <h2>No Sailor Moon: Cosmic Duels, existem três tipos de cartas, cada uma com um <br> nível de poder diferente. Escolha bem e derrote seu oponente!</h2>
    </div>

    <div class="carta">
        <h6 class="cinco">classificação da carta</h6>
        <h6 class="seis">poderes disponíveis</h6>
        <h6 class="sete">elemento da carta</h6>
        <h3>Cada carta possui um tipo, que define seu estilo de batalha e é representado por um símbolo único:
            <br><br>
            Cada tipo influencia o estilo de jogo e as estratégias durante as partidas!</h3>
        <ul>
            <li>quantidade</li>
            <li>imagem</li>
            <li>descrição</li>
        </ul>

        <h2>Cada carta representa uma personagem do universo de Sailor Moon e possui três atributos de poder. 
            <br><br>
            A soma desses atributos define o nível total de poder da carta, que varia de acordo com sua classificação.
        </h2>
        <h6 class="oito">nome da sailor</h6>
        <img src="/static/assets/carta.png" alt="">
    </div>

    <div class="cartas_basicas_cabecalho">
        <img src="/static/assets/titulo_1.png" width="350px" alt="">
        <h1>As cartas mais comuns do jogo. Cada carta básica tem 100 de poder. Elas podem vencer <br> outras cartas básicas, mas precisam de estratégia para derrotar cartas mais fortes!</h1>
    </div>

    <div class="cartas_basicas">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/assets/sailor_2.png" alt="">
                </div>
                <div class="card-back">
                    <img src="/static/assets/verso.png" alt="">
                </div>
            </div>
            <h1>Sailor Venus</h1>
            <p>A guerreira do amor e da beleza, carismática e destemida, com um coração heroico.</p>
        </div>

        <div class="card_2">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/assets/sailor_3.png" alt="">
                </div>
                <div class="card-back">
                    <img src="/static/assets/verso.png" alt="">
                </div>
            </div>  
            <h1>Sailor Marte</h1>          
            <p>Sensitiva e guerreira do fogo, tem uma personalidade forte e é extremamente determinada.</p>
        </div>

        <div class="card_3">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/assets/sailor_4.png" alt="">
                </div>
                <div class="card-back">
                    <img src="/static/assets/verso.png" alt="">
                </div>
            </div>       
            <h1>Sailor Mercurio</h1>           
            <p>A mais inteligente do grupo, estrategista e especialista em ataques baseados em água e gelo.</p>
        </div>

        <div class="card_4">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/static/assets/sailor_1.png" alt="">
                </div>
                <div class="card-back">
                    <img src="/static/assets/verso.png" alt="">
                </div>
            </div>
            <h1>Sailor Jupiter</h1>          
            <p>Forte e protetora, é a mais resistente fisicamente entre as Sailors e tem poderes elétricos.</p>
        </div>

    </div>

    
</body>
</html>